#cabecera{
	background: #333;
	color: white;
    height: 200px;
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
}
#derecha{
    padding: 24px;
    width: 20%;
    background-color: #d0cece;             
    float: right;
    position: relative;
  bottom: -10px;
}
img{
    display:block;
    margin: auto;
}
.imagen{
    width: 600px;
    height: 400px;
}
h1{font-size: 200%;}
h2{font-size: 150%;}

#izquierda{
    padding: 20px;
    float: left;
    width: 12%;
    color:red;  
    background-color: #d0cece;
    border-radius: 40px;
}
#centro{
    padding: 15px;
    width: 83%; 
    background-color: #d0cece;  
}
#contenido {
    width: 83%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgb(0,0,0,.1);

    
}
section{
    position: relative;
    bottom: -5px;

}
dt{
    color:brown;
    text-decoration: #333;
    
}
dd{
    color: green;
    text-transform: lowercase;
}
nav{
  position: relative;
  bottom: -5px;
}
#pie {
    background: rgb(25, 30, 71);
    width: 100%;
	color:white;
	text-align: left;
	padding: 20px;
	margin-top: 40px;
}
#pie1 {
    margin: 0;
}
#pie2 {
    margin: 0;
}