
#cabecera{
	background: #333;
	color: white;
    height: 80px;
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed;
}

cite {
   color: rgb(110, 110, 255);
}

html {
	background-color: rgb(243, 232, 220);
	margin: 0px auto;
}
nav{
	background: rgb(245, 239, 239);
	border-radius: 40px;
}
img {
	display:block;
    margin:auto;
}
#logo {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}

#columna1{
    padding: 40px;
    float: left;
    width: 15%;
    color:rgb(35, 11, 146);
    background: rgb(230, 238, 237);

}
body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	font-size: 1em;
    line-height: 1.5em;
    padding-top: 80px; /* Relleno superior igual a la altura de la cabecera*/
}
.imagen{
	width: 70px;
	height: 60px;
}
#contenido {
	background: rgb(230, 238, 237);
	width: 50%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgb(0,0,0,.1);
	padding: 10px;
}
div{
	padding: 20px;
}
#pie {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
div{
    justify-content: flex-end;
}
li{
	padding: 10px;
}